body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.AU-main {
    width: 100%;
}

.AU-section1 {
    width: 100%;
    /* height: 150px; */
}

.videoHolder {
    width: 100%;
    /* height: 100%; */

}

.videoHolder video {
    width: 100%;
    /* height: 150px; */
}

/* section 2 */

.AU-section2 {
    width: 70%;
    padding: 10px 50px;
    margin: 30px auto;
}

.AU-section2-h1 {
    /* color: white; */
    font-size: 50px;
    font-weight: 800;
    text-align: right;
    margin: 25px 0px;

}

.AU-section2-p {
    font-size: 20px;
    font-weight: 600;
    /* color: white; */
    text-align-last: center;
    line-height: 30px;
}

.AU-section3 {
    width: 100%;
    background-color: #0145a8;
    color: white;
    padding: 40px;
    border-radius: 20px;
}

.AU-section3-title {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.AU-section3-title-animation {
    animation-name: AU-section3-title-animation;
    animation-duration: 2s;
    animation-delay: 0s;

}

.AU-section3-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    gap: 10%;
}

.AU-section3-info {
    width: 40%;
}

.AU-section3-info-animation {
    animation-name: AU-section3-info-animation;
    animation-duration: 2s;
    animation-delay: 0s;
}

/* .AU-section3-info-ul {
} */
.AU-section3-info-li {
    list-style: none;
    margin-bottom: 20px;
}

.AU-section3-info-li h3 {
    margin-bottom: 15px;
}

.AU-section3-img {
    width: 50%;
}

.AU-section3-img-animation {
    animation-name: AU-section3-img-animation;
    animation-duration: 2s;
    animation-delay: 0s;
}

.AU-section3-img img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/* section 4 */
.AU-section4 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 30px auto;
}

.AU-section4-imgDiv {
    position: relative;
    transition: all 0.4s 0.1s linear;
    border-radius: 20px;
    overflow: hidden;
}

.AU-section4-imgDiv img {
    width: 100%;
    height: 100%;
}

.AU-section4-imgDiv:hover {
    transform: translateY(-10px) scale(1.1);
    cursor: none;
}

.AU-section4-imgDiv::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s 0.1s linear;
}

.AU-section4-imgDiv::after {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s 0.1s linear;
}

.AU-section4-imgDiv:nth-of-type(1)::after {
    content: "هوشمندسازی اداری و سازمانی";
}
.AU-section4-imgDiv:nth-of-type(2)::after {
    content: "خانه و ساختمان هوشمند";
}
.AU-section4-imgDiv:nth-of-type(3)::after {
    content: "هوشمند سازی هتل ها";
}
.AU-section4-imgDiv:nth-of-type(4)::after {
    content: "تولید سخت افزار";
}
.AU-section4-imgDiv:nth-of-type(5)::after {
    content: "هوشمندسازی اداری";
}
.AU-section4-imgDiv:nth-of-type(6)::after {
    content: "اتوماسیون صنعتی";
}

.AU-section4-imgDiv:hover::before {
    opacity: 1;
    visibility: visible;
}

.AU-section4-imgDiv:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-50px);
}



/* key frames */


@keyframes AU-section3-title-animation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes AU-section3-info-animation {
    0% {
        opacity: 0;
        transform: translateX(200%);

    }

    100% {
        opacity: 1;
        transform: translateX(0%);

    }
}

@keyframes AU-section3-img-animation {
    0% {
        opacity: 0;
        transform: scale(0);
        /* transform: translateX(-200%); */

    }

    100% {
        opacity: 1;
        transform: scale(1);
        /* transform: translateX(0%); */

    }

}





/* medias */




@media (max-width:768px) {
    .AU-section3-info {
        width: 100%;
    }

    .AU-section3-img {
        width: 100%;
    }

    .AU-section3-content {
        flex-direction: column-reverse;
        gap: 30px;
    }
}