body {
    background: linear-gradient(to bottom, #0a0014, #000000);
}
.PRJ-title-section {
    width: 90%;
    margin: 30px auto;
}
.PRJ-title {
    color: #FFFF;
    font-size: 50px;
}
.PRJ-INFO-image-slider-section {
    width: 60%;
    margin: 30px auto;
    box-shadow: 0px 0px 70px 10px #ac23ff;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.PRJ-INFO-image-slider-prev-btn {
    width: 5%;
    max-height: 600px;
    border-radius: 20px 0px 0px 20px;

}

.PRJ-INFO-image-slider-prev-btn button {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(#ac23ff,#18b8ff);
    border: none;
    outline: none;
}


.PRJ-INFO-image-slider {
    width: 90%;
}

.PRJ-INFO-image-slider img {
    width: 100%;
    height: 100%;
}

.PRJ-INFO-image-slider-next-btn {
    width: 5%;
    border-radius: 0px 20px 20px 0px;
    max-height: 600px;
}

.PRJ-INFO-image-slider-next-btn button {
    width: 100%;
    position: relative;
    height: 100%;
    background: linear-gradient(#ac23ff,#18b8ff);
    border: none;
    outline: none;
}
.PRJ-INFO-image-slider-next-btn button:active {
    box-shadow: -20px 3px 20px 0px #18b8ff;
}
.PRJ-INFO-image-slider-prev-btn button:active {
    box-shadow: 20px 3px 20px 0px #18b8ff;
}

.PRJ-INFO-text-section {
    width: 70%;
    margin: 100px auto;
    color: #FFFF;
}
.PRJ-INFO-text-section p {
    font-size: 20px;
    line-height: 30px;
}

.PRJ-INFO-video-section {
    width: 90%;
    margin: 40px auto 100px auto;
    box-shadow: 0px 0px 10px 10px #ac23ff;
    border-radius: 20px;
    overflow: hidden;
}


.PRJ-INFO-video-section video {
    width: 100%;
    height: 100%;
}



@media (max-width:800px) {
    .PRJ-INFO-image-slider-section {
        width: 70%;
        /* height: 350px; */
    }
}