/* normalize */
body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* overflow-x: hidden; */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-word;
}

button {
    cursor: pointer;
    transition: all 0.5s 0.1s linear, box-shadow 0.1s 0s linear;

}

button:active {
    /* background-color: red; */
    box-shadow: 1px 1px 10px 10px aqua;
}




/* main */


.header {
    /* width: 100%; */
    height: 80PX;
    background-color: #0a1a4f;
    background-color: black;
    padding: 30px 50px 10px 50px;
    direction: ltr;
    /* text-align: center; */
    /* line-height: 70px; */
}

.headerMainContent {
    padding: 30px 50px 30px 50px;
    /* width: 100%; */
    height: 40PX;
    line-height: 40px;
    /* padding-bottom: 20px; */
    /* background-color: #0a1a4f; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    border-radius: 0px 0px 10px 10px;

}

.logo-wraper {
    color: aqua;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.logo-wraper img {
    width: 100%;
    height: 100%;
}

.menoes-container {
    width: 50%;
}

.logo-burgermeno {
    width: 100px;
    height: 100px;
    display: none;
}

.logo-burgermeno img {
    width: 100%;
    height: 100%;
}

.burgermenoContainerDiv {
    display: none;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between; */
    width: 30px;
    height: 20px;
    position: relative;
    right: 0px;
    top: 0px;
    cursor: pointer;
}


.line1 {
    width: 28px;
    height: 2px;
    background-color: #0145a8;
    transition: all 1s 0.1s linear;
}

.line2 {
    width: 28px;
    height: 2px;
    background-color: #0145a8;
    transition: all 1s 0s linear;
}

.line3 {
    width: 28px;
    height: 2px;
    background-color: #0145a8;
    transition: all 1s 0.1s linear;
}

.menoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.meno-logo-burger {
    display: none;
}

.menoes li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.menoes li {
    position: relative;
}

.menoes li::after {
    content: "";
    width: 80%;
    height: 2px;
    position: absolute;
    background-color: aqua;
    left: 50%;
    transform: translateX(-50%) scale(0%);
    top: 31px;
    transition: all 0.2s 0.1s ease;
}

.menoes li:hover::after {
    transform: translateX(-50%) scale(1);
}

/* key frames */


@keyframes logo-burgermeno-shine {
    0% {
        transform: translateX(175px) scale(0);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}
@keyframes logo-burgermeno-fall {
    0% {
        transform: translateX(0px) scale(1);
    }

    100% {
        transform: translateX(175px) scale(0);
    }

}


/* medias */


@media (max-width : 768px) {
    /* for header */
        .logo-burgermeno {
        display: block;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;

    }

    .logo-burgermeno-shineAnimate {
        animation-name: logo-burgermeno-shine;
        animation-duration: 1s;
        /* animation-delay: 1s; */
        animation-timing-function: linear;
    }

    .logo-burgermeno-fallAnimate {
        animation-name: logo-burgermeno-fall;
        animation-duration: 1s;
        /* animation-delay: 1s; */
        animation-timing-function: linear;

    }

    .burgermenoContainerDiv {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        visibility: visible;
    }

    .menoes {
        flex-direction: column;
        gap: 20px;
    }

    .menoes li {
        font-size: 25px;
    }


    .header .menoes-container {
        width: 250px;
        position: fixed;
        right: -250px;
        top: 0px;
        bottom: 0px;
        /* background-color: #0a1a4f; */
        background-color: black;
        padding-top: 100px;
        transition: all 1s 0.1s linear;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}